* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header section */

/* nav section */
header {
    padding: 30px 100px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tittle {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 1.8rem;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
}

nav ul li:hover {
    border-bottom: 2px solid #E02C6D;
}

nav ul li {
    border-bottom: 2px solid white;
    transition: border-bottom 0.5s;
}

/* banner section */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.banner-contant .banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.banner-contant .banner-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
}

.banner-btn {
    color: #FFF;
    font-weight: 700px;
    background-color: #E02C6D;
    color: #FFF;
    margin-bottom: 20px;
    padding: 15px;
    padding-right: 5px;
    width: 160px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    align-items: center;
    gap: 10px;
}

.banner-btn button {
    background: #e02c6d;
    color: #fff;
    border: none;
    font-size: 16px;
}

.banner-cover {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 100%;
}

/* sponsor section */
.sponsor-contant {
    margin-top: 130px;
    border-top: 1px solid rgb(189, 186, 186);
    border-bottom: 1px solid rgb(189, 186, 186);
    padding: 30px;
    column-gap: 50px;
    margin-bottom: 110px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}



/* mobile responsive  */
@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .banner-container {
        flex-direction: column;
        padding: 10px;
        padding-right: 50px;
        padding-top: 50px;
    }

    .banner-cover {
        flex-direction: column;
        padding-bottom: 40px;
    }

    .nav-tittle {
        font-size: 19px;
    }

    ul>li {
        font-size: 13px;
        padding-top: 15px;
    }

    .banner-cover img {
        width: 150%;
    }

    .banner-cover {
        padding-right: 100px;
        background-size: contain;
        gap: 30px;
    }

    .banner-btn {
        margin-bottom: 80px;
        margin-top: 30px;
    }

    .sponsor-contant {
        flex-direction: column;
        gap: 25px;
    }
}



/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .sponsor-contant {
        flex-direction: column;
        gap: 25px;}
}